---
title: Splunk Firehose Nozzle for PCF
owner: Partners
---

This documentation describes the Splunk Nozzle for Pivotal Cloud Foundry (PCF) Firehose.
Splunk Nozzle integrates with PCF [Loggregator](http://docs.pivotal.io/pivotalcf/1-8/loggregator/index.html)
and forwards streaming logs and metrics from user apps and system components of Cloud Foundry to Splunk Enterprise.
PCF operators can then gain operational visibility over their PCF infrastructure, including the health and performance of their
apps and system components.

## <a id="overview"></a>Overview

The Splunk Firehose Nozzle for PCF Tile streams logs and metrics from PCF and forwards them
to user-specified Splunk Enterprise indexers configured to receive data via [HTTP Event Collector](http://docs.splunk.com/Documentation/Splunk/latest/Data/UsetheHTTPEventCollector).
PCF operators and Splunk users can immediately search and analyze PCF Firehose data from their
Splunk Enterprise deployment to build reports, dashboards, and alerts on the health
and performance of their apps.

Splunk Firehose Nozzle for PCF includes the following key features:

* Setup with out-of-the-box data parsing and enrichment for various PCF event types.
* Reliable event delivery by leveraging Splunk's HTTP Event Collector endpoint.
* Secure forwarding from PCF into external Splunk environments using user-provided SSL certificates.
* Scales out to meet increasing data volume and number of apps.


## <a id="snapshot"></a>Product Snapshot
<table>
  <th>Element</th>
  <th>Details</th>
  <tr>
    <td>Tile Version</td>
    <td>v1.0.2</td>
  </tr>
  <tr>
    <td>Release Date</td>
    <td>February 27, 2019</td>
  </tr>
  <tr>
    <td>Compatible Ops Manager Version(s)</td>
    <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
  </tr>
  <tr>
    <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
    <td>v2.1.x, v2.2.x, v2.3.x, and v2.4.x</td>
  </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
  <tr>
    <td>IaaS Support</td>
    <td>vSphere, OpenStack, and AWS</td>
  </tr>
</table>
<p class="note warning"><strong> WARNING:</strong>
Splunk Nozzle for PCF v1.0.1
and earlier require a Ubuntu Trusty stemcell.
The end-of-life date for Ubuntu Trusty is April 2019.
If a security vulnerability is found on this stemcell after April, it will not be fixed.</p>


## <a id="reqs"></a>Requirements

Splunk Firehose Nozzle for PCF has the following requirements.

+ An external Splunk Enterprise or Splunk Cloud 6.x deployment configured with a HTTP Event Collector token to receive data.

## <a id="ecosystem"></a>Splunk and the PCF Ecosystem
There are currently many projects involving Splunk and Pivotal Cloud Foundry. Included are links to these projects:

* [Splunk Firehose Nozzle for PCF Tile](https://network.pivotal.io/products/splunk-nozzle/) - Pivotal Application deployed via PCF Ops Manager
* [Splunk Firehose Nozzle project](https://github.com/cloudfoundry-community/splunk-firehose-nozzle/) - Open source project location of Splunk Firehose Nozzle
* [Splunk Add-on for Cloud Foundry](https://splunkbase.splunk.com/app/3417/) - Splunk Add-on for Cloud Foundry is used to parse, analyze and visualize Firehose data

## <a id="limitations"></a>Limitations

No known limitations.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to
the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) or to [Splunk](https://github.com/cloudfoundry-community/splunk-firehose-nozzle/) via the github project page.
