---
title: Splunk Firehose Nozzle for Pivotal Platform
owner: Partners
---

This documentation describes the Splunk Firehose Nozzle for Pivotal Platform.
Splunk Firehose Nozzle integrates with Pivotal Platform Loggregator and forwards streaming logs and
metrics from user apps and system components of Cloud Foundry to Splunk Enterprise.
Pivotal Platform operators can then gain operational visibility over their Pivotal Platform
infrastructure, including the health and performance of their apps and system components.

For more information about Loggregator, see 
[Loggregator Architecture](https://docs.pivotal.io/platform/application-service/loggregator/architecture.html).

## <a id="overview"></a>Overview

The Splunk Firehose Nozzle for Pivotal Platform Tile streams logs and metrics from Pivotal Platform and forwards them
to user-specified Splunk Enterprise indexers configured to receive data via [HTTP Event Collector](http://docs.splunk.com/Documentation/Splunk/latest/Data/UsetheHTTPEventCollector).
Pivotal Platform operators and Splunk users can immediately search and analyze Pivotal Platform Firehose data from their
Splunk Enterprise deployment to build reports, dashboards, and alerts on the health
and performance of their apps.

Splunk Firehose Nozzle for Pivotal Platform includes the following key features:

* Setup with out-of-the-box data parsing and enrichment for various Pivotal Platform event types.
* Reliable event delivery by leveraging Splunk's HTTP Event Collector endpoint.
* Secure forwarding from Pivotal Platform into external Splunk environments using user-provided SSL certificates.
* Scales out to meet increasing data volume and number of apps.


## <a id="snapshot"></a>Product Snapshot
<table>
  <th>Element</th>
  <th>Details</th>
  <tr>
    <td>Tile Version</td>
    <td>v1.1.2</td>
  </tr>
  <tr>
    <td>Release Date</td>
    <td>August 7th, 2019</td>
  </tr>
  <tr>
    <td>Compatible Ops Manager Version(s)</td>
    <td>v2.3.x, v2.4.x, v2.5.x, v2.6.x, and v2.7.x</td>
  </tr>
  <tr>
    <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
    <td>v2.3.x, v2.4.x, v2.5.x, v2.6.x, and v2.7.x</td>
  </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
  <tr>
    <td>IaaS Support</td>
    <td>vSphere, OpenStack, and AWS</td>
  </tr>
</table>


## <a id="reqs"></a>Requirements

Splunk Firehose Nozzle for Pivotal Platform has the following requirements.

+ An external Splunk Enterprise or Splunk Cloud 6.x deployment configured with a HTTP Event Collector token to receive data.

## <a id="ecosystem"></a>Splunk and the Pivotal Platform Ecosystem
There are currently many projects involving Splunk and Pivotal Platform. Included are links to these projects:

* [Splunk Firehose Nozzle for Pivotal Platform Tile](https://network.pivotal.io/products/splunk-nozzle/) - Pivotal Application deployed via Pivotal Platform Ops Manager
* [Splunk Firehose Nozzle project](https://github.com/cloudfoundry-community/splunk-firehose-nozzle/) - Open source project location of Splunk Firehose Nozzle
* [Splunk Add-on for Cloud Foundry](https://splunkbase.splunk.com/app/3417/) - Splunk Add-on for Cloud Foundry is used to parse, analyze and visualize Firehose data

## <a id="limitations"></a>Limitations

* Tile only support deployment for Splunk version 6.4 or above.
  For Splunk version 6.3 or below, please refer [this link](https://github.com/cloudfoundry-community/splunk-firehose-nozzle/tree/master#please-note) for deployment instructions.

## <a id="feedback"></a>Feedback

Splunk Firehose Nozzle project is supported through Splunk <s></s>upport assuming the customer has a current Splunk support entitlement.  For customers that do not have a current Splunk support entitlement, please provide any bugs, feature requests, or questions to the [Pivotal Platform Feedback](mailto:pivotal-cf-feedback@pivotal.io) or [here](https://github.com/cloudfoundry-community/splunk-firehose-nozzle/issues/new/choose) via the github project page.
