---
title: Firehose Nozzle for Splunk
owner: Partners
---

This documentation describes the Firehose Nozzle for Splunk for Pivotal Cloud Foundry (PCF).
The nozzle drains Cloud Foundry logs and forwards them to a Splunk indexer. Operators
can then assess the health of their foundation and debug issues in Splunk.

## <a id='overview'></a>Overview

**todo: Roy**

**The overview should provide a description of the product's key features.**

YOUR-PRODUCT-NAME includes the following key features:

* Feature one.
* Feature two.
* Feature three.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Firehose Nozzle for Splunk Details:</dt>
<dd><strong>Version</strong>: v0.2.0 </dd>
<dd><strong>Release Date</strong>: 2016, November 15</dd>
<dd><strong>Software component version</strong>: vYOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: vYOUR-COMPATIBLE-OPS-MAN-VERSION (Ex. v1.6.x, v1.7.x)</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: vYOUR-COMPATIBLE-ELASTIC-RUNTIME-VERSION (Ex. v1.4.x, v1.5.x, v1.6.x)</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

Firehose Nozzle for Splunk has the following requirements:

+ An external Splunk indexer destination for logs and metrics.

## <a id="limitations"></a>Limitations

**todo: Roy List any known limitations.**

## <a id="feedback"></a>Feedback

**todo: Roy**

Please provide any bugs, feature requests, or questions to
the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an
email to YOUR-SUPPORT-EMAIL.

## <a id='license'></a>License

**todo: Roy, List any license information here.**
